body{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color: rgba(50, 255, 207, 0.754);
}

header{
    border-bottom: 1px solid #ccc;
}

header img{
    margin-top: 12px;
}

.container{
    width: 1200px;
    padding-left: 20px;
    padding-right: 15px;
    margin: 0;
}

.lema{
    text-align: center;
}

.lema > h1 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-family: 'Pacifico', cursive;
}

@media (min-width: 360px) {
  * {
    
  }
    }

    @media (min-height: 640px) {
       *{
           background-color: black;
       }
        }
